# SECURITY WARNING: don't run with debug turned on in production!
DEBUG=on
ENVIRONMENT='development'

# Export files that are created for testing before zip
KEEP_EXPORT_DIRECTORIES=TRUE

ALLOWED_HOSTS=localhost,127.0.0.1,scutes-local

# waitress and runserver
SERVER_HOST='scutes-local'
SERVER_PORT='15000'

# whitenoise
WHITENOISE_ROOT='src/static/'

# session logout
IDLE_TIME=1440000

# SAML
SAML_SESSION_COOKIE_SAMESITE='Lax'
SESSION_COOKIE_SECURE=False
SAML_ALLOWED_HOSTS=localhost,127.0.0.1,scutes-local
XMLSEC_BINARY='/opt/homebrew/bin/xmlsec1'
ENTITYID='scutes-local:15000'
ENDPOINT_ADDRESS='http://scutes-local:15000'

# Relative or full path to key and crt
KEY_FILE='scutes-test-lib-umd-edu-sp.key'
CERT_FILE='scutes-test-lib-umd-edu-sp.crt'

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY='django-insecure-l@#aomb8&s8-ut6b23y18l2t!khm@p+s4bxc5)oh71pp%+b(0k'

# Database
# Preferred development database is sqlite3
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=''
DB_PASSWORD=''
DB_HOST=''
DB_PORT=''

CSRF_TRUSTED_ORIGINS=''

LOGGING_LEVEL=DEBUG

# DJANGO_LOG_LEVEL=DEBUG setting is very verbose as it includes all database queries.
DJANGO_LOG_LEVEL=INFO

# Static
STATIC_URL='/static/'
STATIC_ROOT=BASE_DIR / 'static'

# Media
MEDIA_URL='/media/'
MEDIA_ROOT='src/media/'  # Example: '/Users/username/scutes/src/media'
# Another option for MEDIA_ROOT is https://docs.python.org/3/library/os.path.html#os.path.expandvars